.c2{
    width: 80%;
    height: 750px;
    margin-left: 200px;
    margin-top: 20px;
}
img{
    width: 200px;
    height: 600px;
}
.rose{
    width: 500px;
    height: 600px;
}
.lilly{
    width: 500px;
}
.img2{
    width: 500px;
}
.img9{
    width: 500px;
}
.img4{
    width: 500px;
}
.img5{
    width: 500px;
}
.img6{
    width: 500px;
}
.img7{
    width: 500px;
}
.img8{
    width: 500px;
}
.img3{
    width: 500px;
    height: 600px;
}
#pp{
    background-color: black;
    height: 400px;

}
#kk{
    padding: 400px;
    height: 500px;
    display: inline;
    color: white;
    size: 400px;
    letter-spacing: 500px;
    margin: auto;
    
}
.op{
    text-align: center;
    color: white;
    width: 900px;
    height: 30px;

}
h1{
    font-style: oblique;
}
